In [2]:
import pandas as pd

In [6]:
movies = pd.read_csv("dataset.csv")

In [8]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [10]:
movies.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,9.711180e+05,971118.000000,971118.000000,9.711180e+05,971118.000000,9.711180e+05,971118.000000
mean,6.441215e+05,2.160029,22.081853,7.575062e+05,51.187714,2.975289e+05,1.387446
std,3.450038e+05,3.130157,344.484284,1.780635e+07,62.364688,5.023852e+06,8.196432
min,2.000000e+00,0.000000,0.000000,-1.200000e+01,0.000000,0.000000e+00,0.000000
25%,3.613772e+05,0.000000,0.000000,0.000000e+00,1.000000,0.000000e+00,0.600000
50%,6.459555e+05,0.000000,0.000000,0.000000e+00,33.000000,0.000000e+00,0.600000
75%,9.448588e+05,5.100000,1.000000,0.000000e+00,90.000000,0.000000e+00,0.935000
max,1.222506e+06,10.000000,34495.000000,2.923706e+09,14400.000000,8.880000e+08,2994.357000

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971118 entries, 0 to 971117
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    971118 non-null  int64
 1   title                 971107 non-null  object
 2   vote_average          971118 non-null  float64
 3   vote_count            971118 non-null  int64
 4   status                971118 non-null  object
 5   release_date          871741 non-null  object
 6   revenue               971118 non-null  int64
 7   runtime               971118 non-null  int64
 8   adult                 971118 non-null  bool
 9   backdrop_path         280527 non-null  object
 10  budget                971118 non-null  int64
 11  homepage              105662 non-null  object
 12  imdb_id               563340 non-null  object
 13  original_language     971118 non-null  object
 14  original_title        971107 non-null  object
 15  overview              798753 non-null  object
 16  popularity            971118 non-null  float64
 17  poster_path           712734 non-null  object
 18  tagline               140066 non-null  object
 19  genres                621444 non-null  object
 20  production_companies  468531 non-null  object
 21  production_countries  584946 non-null  object
 22  spoken_languages      592875 non-null  object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 163.9+ MB

In [12]:
movies.isnull().sum()

id                           0
title                       11
vote_average                 0
vote_count                   0
status                       0
release_date             99377
revenue                      0
runtime                      0
adult                        0
backdrop_path           690591
budget                       0
homepage                865456
imdb_id                 407778
original_language            0
original_title              11
overview                172365
popularity                   0
poster_path             258384
tagline                 831052
genres                  349674
production_companies    502587
production_countries    386172
spoken_languages        378243
dtype: int64

In [14]:
movies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')